.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--primary);
  color: var(--text-over-primary);
  transition: all 300ms ease-in-out;
  border-radius: 1rem;
  padding: 1.5rem;
}
.menuLink:hover {
  box-shadow: 0 6px 15px var(--primary);
  transform: scale(1.05);
  cursor: pointer;
}

.menuLink svg {
  width: 2.4rem;
  height: 2.4rem;
}
