.button {
  border: none;
  background: var(--primary);
  color: var(--text-over-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24rem;
  padding: 0.7rem;
  border-radius: 1rem;
  margin: 4.2rem 0;
  transition: all 0.3s ease-in-out;
}

.green {
  background: var(--primary);
  color: var(--text-over-primary);
}

.red {
  background: var(--error);
  color: var(--text-over-error);
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

.button:hover {
  box-shadow: 0 3px 15px var(--primary);
  transform: scale(1.05);
  cursor: pointer;
}
